* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.hero {
    height: 100vh;
    width: 100%;
    background: 
        linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.2)),
        url("https://images.unsplash.com/photo-1609630875171-b1321377ee65?auto=format&fit=crop&w=1920&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-left: 80px;
    color: white;
}
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255,255,255,0.95);
    z-index: 1000;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.nav-left i {
    font-size: 20px;
    cursor: pointer;
}

.nav-icons {
    display: flex;
    gap: 25px;
}

.nav-icons i {
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-icons i:hover,
.nav-left i:hover {
    color: #e10600;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.logo img {
    width: 35px;
}
.hero-content {
    max-width: 500px;
}

.hero h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.hero p {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}

.hero p span {
    color: #e10600;
}

.btn {
    display: inline-block;
    padding: 14px 28px;
    background: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #e10600;
    color: white;
}
@media (max-width: 768px) {
    .hero {
        padding-left: 30px;
    }

    .hero h1 {
        font-size: 40px;
    }
}
